numpy==2.4.2
opencv-python==4.13.0.92
gdal==3.12.2
rasterio==1.5.0
rio-rgbify==0.4.0
requests==2.32.5
alive-progress==3.3.0
coverage==7.13.4
boto3==1.42.48
boto3-stubs[s3]==1.42.48
azure-identity==1.25.2
azure-storage-blob==12.28.0
python-dotenv==1.2.1
pillow==12.1.1
retry==0.9.2
botocore==1.42.48
httpx[http2]==0.28.1