name: Sonar Cloud
on: [ push, pull_request ]
env:
  python_version: '3.12'

jobs:
  sonarcloud:
    name: Sonar Cloud Analysis
    runs-on: ubuntu-latest
    container: ghcr.io/osgeo/gdal:ubuntu-full-3.12.1
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Install dependencies
        shell: bash
        run: |
          apt -y update
          apt --reinstall install -y --no-install-recommends libc-bin
          apt install -y --no-install-recommends --fix-missing python3-venv python3-dev g++ gcc make git
          python -m venv venv
          venv/bin/python -m ensurepip --upgrade
          venv/bin/python -m pip install -r requirements.txt
      - name: Run Tests
        run: |
          venv/bin/python -m coverage run -m unittest discover
          venv/bin/python -m coverage xml -i
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.UBIQUE_SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=ubiqueinnovation
            -Dsonar.projectKey=UbiqueInnovation_map-tools
            -Dsonar.python.version=${{ env.python_version }}
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.exclusions=venv/**
            -Dsonar.scm.provider=git
